label {
  display: table-cell;
}

.input {
  padding: 10px 32px;
  margin: 10px 0;
  box-sizing: border-box;
  outline-color: #2861b6;
  outline-style: hidden;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  color: #000000;
}
